---
id: {{[id]}}
title: {{[title]}}
tcode: {{[type]}}
---

<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ site.data.fhir.igName }}</title>
        
        {% include header.html %}
    </head>
    <body>
        {% include navbar.html %}
        
        <div id="segment-breadcrumb" class="segmnt">
            <div class="container">
              
              <ul class="breadcrumb">
                <li title="home"><a href="index.html"><b>Home</b></a></li>
                <li title="profiles"><a href="profilespage.html"><b>Profiles</b></a></li>
                <li><b>{{[title]}}</b></li>
              </ul>
            </div>
        </div>
        
        <div id="segment-content" class="segment">
            <div class="container">
                <div class="row">
                    <div class="inner-wrapper">
                        <div class="col-12">
                            <ul class="nav nav-tabs">
                              <li class="active"><a href="{{[type]}}-{{[id]}}.html">{{[type]}} Content</a></li>
                              <li><a href="{{[type]}}-{{[id]}}.xml.html">{{[type]}} XML</a></li>
                              <li><a href="{{[type]}}-{{[id]}}.json.html">{{[type]}} JSON</a></li>
                            </ul>
                            
                            {% include {{[type]}}-{{[name]}}.xhtml %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% include footer.html %}
    </body>
</html>
