<h3>Authors</h3>
<table class="grid">
  <thead>
    <tr>
      <td>
        <strong>Author Name</strong>
      </td>
      <td>
        <strong>Email</strong>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Rick Geimer
      </td>
      <td>
        rick.geimer@lantanagroup.com
      </td>
    </tr>
    <tr>
      <td>
        Sarah Gaunt
      </td>
      <td>
        sarah.gaunt@lantanagroup.com
      </td>
    </tr>
    <tr>
      <td>
        Brett Marquard
      </td>
      <td>
        brett@riverrockassociates.com
      </td>
    </tr>
    <tr>
      <td>
        Corey Spears
      </td>
      <td>
        Corey.Spears@infor.com
      </td>
    </tr>
    <tr>
      <td>
        Meenaxi Gosai
      </td>
      <td>
        meenaxi.gosai@lantanagroup.com
      </td>
    </tr>
  </tbody>
</table>
