<div>
  <h2>Current Release</h2>
  <p>This implementation guide is the first FHIR release of the HAI reporting profiles. It adds one report (Questionnaire) and nine value sets.</p>

  <h3>HAI Single-Person Reports</h3>
  <ul>
    <li>
      <a href="Questionnaire-hai-questionnaire-los-event.html">Late Onset Sepsis/Meningitis Event (LOS) Report</a>
    </li>
  </ul>
  
  <h3>Value Sets</h3>
  <ul>
    <li>
      <a href="ValueSet-2.16.840.1.113883.13.19.html">NHSNHealthcareServiceLocationCode</a>
    </li>
    <li>
      <a href="ValueSet-2.16.840.1.113883.13.20.html">NHSNInfectionTypeCode</a>
    </li>
    <li>
      <a href="ValueSet-2.16.840.1.113883.10.20.5.9.27.html">Inborn/Outborn Observation Code</a>
    </li>
    <li>
      <a href="ValueSet-2.16.840.1.113883.13.13.html">NHSNDrugSusceptibilityFindingCode</a>
    </li>
    <li>
      <a href="ValueSet-2.16.840.1.113883.13.15.html">NHSNDrugSusceptibilityTestsCode</a>
    </li>
    <li>
      <a href="ValueSet-nhsn-pathogen-ranking.html">NHSNPathogenRanking</a>
    </li>
    <li>
      <a href="ValueSet-2.16.840.1.113883.13.16.html">NHSNPathogenCode</a>
    </li>
    <li>
      <a href="ValueSet-2.16.840.1.114222.4.11.3195.html">NHSNCriterionOfDiagnosisCode</a>
    </li>
    <li>
      <a href="ValueSet-2.16.840.1.114222.4.11.3196.html">NHSNInfectionConditionCode</a>
    </li>
  </ul>
</div>