<div class="row">
  <div class="inner-wrapper">
    <div class="col-9">
      <h2> C-CDA on FHIR Implementation Guide (IG) </h2>
      <h3> Summary </h3>
      <p>
        <a href="http://hl7.org/implement/standards/product_brief.cfm?product_id=408">C-CDA</a> is
        one of the most widely implemented implementation guides for CDA and covers a significant
        scope of clinical care. Its target of the 'common/essential' elements of healthcare is
        closely aligned with FHIR's focus on the '80%'. There is significant interest in industry
        and government in the ability to interoperate between CDA and FHIR and C-CDA is a logical
        starting point. Implementers and regulators have both expressed an interest in the ability
        to map between FHIR and C-CDA. </p>
      <p> This Implementation Guide (IG) defines a series of FHIR profiles on the Composition resource to
        represent the various document types in C-CDA. This release does not directly map every
        C-CDA template to FHIR profiles, rather tries to accomplish the C-CDA use case using
        Composition resource profiles created under this project (the equivalent of Level 2 CDA
        documents), and linking to the profiles created under the US Core project for any coded entries
		that would normally be included in C-CDA sections. The goal is that this results in a simpler,
		more streamlined standard that reuses existing work and focuses on the 80% that implementers
		actually need in production systems (the goal is that US Core represents that 80% needed for
		coded entries). </p>
      <p> The Composition profiles in this IG do not require coded data in any section. This is a
        departure from C-CDA, which requires coded data for Problems, Results, Medications, etc. This
        departure is intentional, as the C-CDA requirement for one or more coded entries in these
        sections resulted in some very complicated workarounds using nullFlavors to handle the fact
        that sometimes a patient is not on any medications, or has no current problems. In general,
        FHIR takes the approach that if something is nullable, it should simply be optional to ease
        the burden on implementers, thus C-CDA on FHIR does not require any coded entries, but
        rather uses the &quot;required if known&quot; approach, meaning that if an implementer's
        system has data for a section that requires data under Meaningful Use, they need to send it,
        but if they have no data there is no need for a null entry. </p>
      <p> We encourage feedback on these Composition profiles, and the general approach to the
        project as a whole. We also encourage implementers who wish to see more of the coded data
        from C-CDA mapped to FHIR to comment on the US Core project and make their requests known
        there. Once US Core creates new profiles, this project can reference them. </p>
    </div>
  </div>
</div>
