<div>
  <p><strong>Validator Pack and Definitions</strong></p>

  <p>The following file contains all the value sets, profiles, extensions, list of pages and urls in the IG defined as part of this Implementation Guide:</p>
<ul>
  <li><a href="validator.pack">Validator Pack</a></li>
</ul>

<p>In addition there are format specific definitions files.</p>
<ul>
  <li><a href="definitions.xml.zip">XML</a></li>
  <li><a href="definitions.json.zip">JSON</a></li>
</ul>
  <p>These files should be the first choice whenever generating any implementation artifacts since they contain all of the rules about what makes these contained profiles valid. Implementers will still need to be familiar with the content of the specification and profiles that apply in order to make a conformant implementation.  See the overview on <a href="{{ site.data.fhir.path }}/validation.html">validating FHIR profiles and resources</a> for more information about validating profiles and how to use these artifacts.</p>

<p><strong>Schematrons</strong> are also available and listed below:</p>

  <ul><li><a href="hai-report-questionnaire.sch" download>hai-report-questionnaire</a></li>
    <li><a href="hai-report-questionnaire-response.sch" download>hai-report-questionnaire-response</a></li>
  </ul>

<p><strong>Examples:</strong> all the examples that are used in this Implementation Guide available for download:</p>
<ul>
  <li><a href="examples.xml.zip">XML</a></li>
  <li><a href="examples.xml.zip">JSON</a></li>
</ul>
</div>