<p>This guide references the following extensions.</p>
<table class="codes">
  <thead>
    <tr>
      <td>
        <b>Name</b>
      </td>
      <td>
        <b>Definition</b>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="http://hl7.org/fhir/StructureDefinition/questionnaire-allowedProfile">questionnaire-allowedProfile</a>
      </td>
      <td>http://hl7.org/fhir/StructureDefinition/questionnaire-allowedProfile</td>
    </tr>
    <tr>
      <td>
        <a href="http://hl7.org/fhir/StructureDefinition/questionnaire-unit">questionnaire-unit</a>
      </td>
      <td>http://hl7.org/fhir/StructureDefinition/questionnaire-unit</td>
    </tr>
  </tbody>
</table>
