<p>This guide defines the following instances of the Questionnaire and QuestionnaireResponse profiles. The Questionnaire instance defines the HAI form and the QuestionnnaireResource instance is an example of a completed QuestionnaireResponse to the Questionnaire. </p>
<table class="codes">
  <tr>
    <td>
      <b>Instance Name</b>
    </td>
    <td>
      <b>Description</b>
    </td>
  </tr>
  <tr>
    <td>
      <a href="Questionnaire-hai-questionnaire-los-event.html">Questionnaire/hai-questionnaire-los-event</a>
    </td>
    <td>This Questionnaire instance defines the questions and possible answers in the Late Onset Sepsis/Meningitis Event (LOS) Report.</td>
  </tr>
  <tr>
    <td>
      <a href="QuestionnaireResponse-hai-questionnaireResponse-los-event.html">Questionnaire/hai-questionnaireResponse-los-event</a>
    </td>
    <td>This QuestionnaireResponse instance is an example of a completed Late Onset Sepsis/Meningitis Event (LOS) Report and is in response to the Questionnaire instance above.</td>
  </tr>
  <tr>
    <td>
      <a href="Patient-hai-patient-1.html">Patient/hai-patient-1</a>
    </td>
    <td>Example patient.</td>
  </tr>
</table>
