<div>
    <h3> Scope </h3>
    <p> To represent Consolidated CDA Templates for Clinical Notes (C-CDA) 2.1 templates using FHIR
        profiles.</p>
    <p>This first stage of the project defines all the C-CDA document-level profiles on the
        Composition resource and contained sections.</p>
    <p>Any coded data used by sections will be represented using relevant U.S. Core FHIR
        profiles where they exist. FHIR profiles defined by other work groups or unconstrained FHIR resources may also be referenced if no appropriate US Core Profile exist.</p>
    <p>Implementers should note that the value sets used in US Core and FHIR in general are not fully aligned with those in C-CDA.
    Likewise, the approaches for negation used in C-CDA and the Core FHIR specification are quite different. Lastly, the level of granularity between C-CDA templates and FHIR resources/profiles is often different, so there will not be a 1:1 mapping between templates and profiles. For example, multiple templates like Health Concern and Problem Observation map to a single US Core Condition, and C-CDA has 3 kids of procedure templates that all map to the single US Core Procedure profile. This project will not attempt to address such alignment issues.
    Rather, implementers moving from C-CDA to C-CDA on FHIR will need to review the US Core profiles and value sets in  core FHIR resources and ensure that their instances FHIR instances are compliant.
    We hope that ongoing work in HL7 will better align US Core, C-CDA, and the Core FHIR specifications in the future. </p>

    <h3>References<br/>
    </h3>
    <table class="codes">
        <tbody>
            <tr>
                <td>
                    <strong>Name</strong>
                </td>
                <td>
                    <strong>Definition</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="http://hl7.org/implement/standards/product_brief.cfm?product_id=379"
                        >HL7 Implementation Guide for CDA Release 2: Consolidated CDA Templates for
                        Clinical Notes</a>
                </td>
                <td> The Consolidated CDA (C-CDA) implementation guide contains a library of CDA
                    templates, incorporating and harmonizing previous efforts from Health Level
                    Seven (HL7), Integrating the Healthcare Enterprise (IHE), and Health Information
                    Technology Standards Panel (HITSP). It represents harmonization of the HL7
                    Health Story guides, HITSP C32, related components of IHE Patient Care
                    Coordination (IHE PCC), and Continuity of Care (CCD). C-CDA Release 1 included
                    all required CDA templates in Final Rules for Stage 1 Meaningful Use and 45 CFR
                    Part 170 Health Information Technology: Initial Set of Standards, Implementation
                    Specifications, and Certification Criteria for Electronic Health Record
                    Technology; Final Rule. </td>
            </tr>
            <tr>
                <td>
                    <a href="http://hl7.org/fhir/us/core">U.S. Core FHIR Implementation Guide</a>
                </td>
                <td> A U.S. Realm guide for making use of FHIR resources to support queries between
                    systems within an enterprise and across enterprises </td>
            </tr>
        </tbody>
    </table>
</div>
