<p>This guide defines the following profiles.</p>
<table class="codes">
  <tr>
    <td>
      <b>Profile Name</b>
    </td>
    <td>
      <b>Description</b>
    </td>
  </tr>
  <tr>
    <td>
      <a href="StructureDefinition-hai-report-questionnaire.html">Healthcare Associated Infection Report Questionnaire</a>
    </td>
    <td>This profile represents a Healthcare Associated Infection Report form as FHIR Questionnaire.</td>
  </tr>
  <tr>
    <td>
      <a href="StructureDefinition-hai-report-questionnaire-response.html">Healthcare Associated Infection Report QuestionnaireResponse</a>
    </td>
    <td>This profile represents a response to the Healthcare Associated Infection Reports Questionnaire as a FHIR QuestionnaireResponse profile.</td>
  </tr>
</table>