<div>
    <h4 id="value-sets">Value Sets</h4>
    <p>This guide defines the following value sets. Note: value sets defined in the base <a href="http://hl7.org/fhir/composition.html">Composition</a> resource or in US Core are not included in this list. </p>
    <table class="codes">
        <thead>
            <tr>
                <td>
                    <b>Name</b>
                </td>
                <td>
                    <b>Definition</b>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="ValueSet-2.16.840.1.113883.11.20.4.1.html"
                        >DischargeSummaryDocumentTypeCode</a>
                </td>
                <td><u>http://hl7.org/fhir/ccda/ValueSet/2.16.840.1.113883.11.20.4.1</u><br/> A
                    value set of LOINC document codes for discharge summaries. Specific URL
                    Pending</td>
            </tr>
            <tr>
                <td>
                    <a href="ValueSet-2.16.840.1.113883.11.20.9.31.html">ConsultDocumentType</a>
                </td>
                <td><u>http://hl7.org/fhir/ccda/ValueSet/2.16.840.1.113883.11.20.9.31</u><br/>
                    Specific URL Pending</td>
            </tr>
            <tr>
                <td>
                    <a href="ValueSet-2.16.840.1.113883.1.11.20.2.3.html">ReferralDocumentType</a>
                </td>
                <td><u>http://hl7.org/fhir/ccda/ValueSet/2.16.840.1.113883.1.11.20.2.3</u><br/> A
                    referral note provides a consulting physician specified patient information
                    about the patient referred. Specific URL Pending</td>
            </tr>
            <tr>
                <td>
                    <a href="ValueSet-2.16.840.1.113883.11.20.6.1.html"
                        >ProcedureNoteDocumentTypeCodes</a>
                </td>
                <td><u>http://hl7.org/fhir/ccda/ValueSet/2.16.840.1.113883.11.20.6.1</u><br/> A
                    value set of LOINC document codes for Procedure Notes. Specific URL Pending</td>
            </tr>
            <tr>
                <td>
                    <a href="ValueSet-2.16.840.1.113883.1.11.20.22.html">HPDocumentType</a>
                </td>
                <td><u>http://hl7.org/fhir/ccda/ValueSet/2.16.840.1.113883.1.11.20.22</u><br/>
                    Specific URL Pending</td>
            </tr>
            <tr>
                <td>
                    <a href="ValueSet-1.3.6.1.4.1.12009.10.2.5.html">LOINC Imaging Document
                        Codes</a>
                </td>
                <td><u>http://hl7.org/fhir/ccda/ValueSet/1.3.6.1.4.1.12009.10.2.5</u><br/> A value
                    set of LOINC document type codes for Diagnostic Imaging Reports.</td>
            </tr>
            <tr>
                <td>
                    <a href="ValueSet-2.16.840.1.113883.11.20.9.59.html">DIRSectionTypeCodes</a>
                </td>
                <td><u>http://hl7.org/fhir/ccda/ValueSet/2.16.840.1.113883.11.20.9.59</u><br/> The
                    Section Type codes used by DIR are all narrative document sections. The codes in
                    this table are drawn from LOINC (http://www.loinc.org/) and DICOM
                    (http://medical.nema.org/). The section/code should be selected from LOINC or
                    DICOM for sections not listed in this table.</td>
            </tr>
            <tr>
                <td>
                    <a href="ValueSet-2.16.840.1.113883.11.20.1.1.html"
                        >SurgicalOperationNoteDocumentTypeCode</a>
                </td>
                <td><u>http://hl7.org/fhir/ccda/ValueSet/2.16.840.1.113883.11.20.1.1</u><br/>
                    Specific URL Pending</td>
            </tr>
            <tr>
                <td>
                    <a href="ValueSet-2.16.840.1.113883.11.20.8.1.html"
                        >ProgressNoteDocumentTypeCode</a>
                </td>
                <td><u>http://hl7.org/fhir/ccda/ValueSet/2.16.840.1.113883.11.20.8.1</u><br/>
                    Specific URL Pending</td>
            </tr>
            <tr>
                <td>
                    <a href="ValueSet-2.16.840.1.113883.1.11.20.2.4.html">TransferDocumentType</a>
                </td>
                <td><u>http://hl7.org/fhir/ccda/ValueSet/2.16.840.1.113883.1.11.20.2.4</u><br/> A
                    transfer document is exchanged between care providers when a patient transfers
                    from one care setting to another. This value set includes all LOINC codes whose
                    Component = Transfer Summary Note* and SCALE_TYPE = Doc.</td>
            </tr>
        </tbody>
    </table>
    <h4>US Core Value Sets</h4>
    <p>The value sets used in US Core are not fully aligned with those in C-CDA, though the differences are often minor. The C-CDA on FHIR project will not attempt to address such alignment issues.
	    Rather, implementers moving from C-CDA to C-CDA on FHIR will need to review the US Core profiles and value sets and ensure that their instances FHIR instances are compliant.
	    We hope that ongoing work in HL7 will better align US Core, C-CDA, and the Core FHIR specifications in the future. </p>
	<p>Full details on US Core value sets can be found on the <a href="http://hl7.org/fhir/us/core/terminology.html">US Core Terminology</a> page</p>

    <h4 id="code-systems">Code Systems</h4>

	<p>See the <a href="http://hl7.org/fhir/terminologies-systems.html">FHIR terminology section</a> for a complete discussion on code systems and a list of codes system names used in FHIR. The following additional names (URIs) have been identified for this implementation guide,   If a URI is listed here, it <strong>SHALL</strong> be used in the US Core profiles in preference to any other code system name.</p>
</div>
