<p>This guide references the following value sets.</p>
<table class="codes">
  <thead>
    <tr>
      <td>
        <b>Name</b>
      </td>
      <td>
        <b>Definition</b>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="ValueSet-2.16.840.1.113883.13.19.html">NHSNHealthcareServiceLocationCode</a>
      </td>
      <td><u>http://hl7.org/fhir/us/hai/ValueSet/2.16.840.1.113883.13.19</u><br />
        A classification of patient care locations within healthcare facilities for public health surveillance purposes.</td>
    </tr>
    <tr>
      <td>
        <a href="ValueSet-2.16.840.1.113883.13.20.html">NHSNInfectionTypeCode</a>
      </td>
      <td><u>http://hl7.org/fhir/us/hai/ValueSet/2.16.840.1.113883.13.20</u><br />
        Code System: cdcNHSN 2.16.840.1.113883.6.277 or SNOMED CT 2.16.840.1.113883.6.96</td>
    </tr>
    <tr>
      <td>
        <a href="ValueSet-2.16.840.1.113883.10.20.5.9.27.html">Inborn/Outborn Observation Code</a>
      </td>
      <td><u>http://hl7.org/fhir/us/hai/ValueSet/2.16.840.1.113883.10.20.5.9.27</u><br />
        This valueset represents whether the location of birth is an inborn or outborn location</td>
    </tr>
    <tr>
      <td>
        <a href="ValueSet-2.16.840.1.113883.13.13.html">NHSNDrugSusceptibilityFindingCode</a>
      </td>
      <td><u>http://hl7.org/fhir/us/hai/ValueSet/2.16.840.1.113883.13.13</u><br />
        Code System: HL7ObservationInterpretation 2.16.840.1.113883.5.83</td>
    </tr>
    <tr>
      <td>
        <a href="ValueSet-2.16.840.1.113883.13.15.html">NHSNDrugSusceptibilityTestsCode</a>
      </td>
      <td><u>http://hl7.org/fhir/us/hai/ValueSet/2.16.840.1.113883.13.15</u><br />
        Code System: LOINC 2.16.840.1.113883.6.1 or cdcNHSN 2.16.840.1.113883.6.277</td>
    </tr>
    <tr>
      <td>
        <a href="ValueSet-nhsn-pathogen-ranking.html">NHSNPathogenRanking</a>
      </td>
      <td><u>http://hl7.org/fhir/us/hai/ValueSet/nhsn-pathogen-ranking</u><br />
        Ordinal rankings for the relative importance of a pathogen in that set with respect to its role in the infection.</td>
    </tr>
    <tr>
      <td>
        <a href="ValueSet-2.16.840.1.113883.13.16.html">NHSNPathogenCode</a>
      </td>
      <td><u>http://hl7.org/fhir/us/hai/ValueSet/2.16.840.1.113883.13.16</u><br />
        Code System: SNOMED CT 2.16.840.1.113883.6.96 or cdcNHSN 2.16.840.1.113883.6.277</td>
    </tr>
    <tr>
      <td>
        <a href="ValueSet-2.16.840.1.114222.4.11.3195.html">NHSNCriterionOfDiagnosisCode</a>
      </td>
      <td><u>http://hl7.org/fhir/us/hai/ValueSet/2.16.840.1.114222.4.11.3195</u><br />
        Code System: SNOMED CT 2.16.840.1.113883.6.96 or cdcNHSN 2.16.840.1.113883.6.277</td>
    </tr>
    <tr>
      <td>
        <a href="ValueSet-2.16.840.1.114222.4.11.3196.html">NHSNInfectionConditionCode</a>
      </td>
      <td><u>http://hl7.org/fhir/us/hai/ValueSet/2.16.840.1.114222.4.11.3196</u><br />
        Code System: SNOMED CT 2.16.840.1.113883.6.96 or cdcNHSN 2.16.840.1.113883.6.277</td>
    </tr>
  </tbody>
</table>