<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li>
    <a href="mappingBackground.html">Background</a>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">C-CDA → FHIR<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="CF-allergies.html">Allergies</a></li>
      <li><a href="CF-encounters.html">Encounters</a></li>
      <li><a href="CF-immunizations.html">Immunizations</a></li>
      <li><a href="CF-medications.html">Medications</a></li>
      <li><a href="CF-notes.html">Notes</a></li>
      <li><a href="CF-participations.html">Participation</a></li>
      <li><a href="CF-patient.html">Patient</a></li>
      <li><a href="CF-procedures.html">Procedures</a></li>
      <li><a href="CF-problems.html">Problems</a></li>
      <li><a href="CF-results.html">Results</a></li>
      <li><a href="CF-social.html">Social History</a></li>
      <li><a href="CF-vitals.html">Vital Signs</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">FHIR → C-CDA<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="FC-allergies.html">Allergies</a></li>
      <li><a href="FC-immunizations.html">Immunizations</a></li>
      <li><a href="FC-medications.html">Medications</a></li>
      <li><a href="FC-patient.html">Patient</a></li>
      <li><a href="FC-problems.html">Problems</a></li>
      <li><a href="FC-procedures.html">Procedures</a></li>
      <li><a href="FC-vitals.html">Vitals</a></li>
    </ul>
  </li>
  <li>
    <a href="mappingGuidance.html">Structural Guidance</a>
  </li>
  <li>
    <a href="conceptMaps.html">Terminology Maps</a>
  </li>
  <li>
    <a href="mappingChangelog.html">Change Log</a>
  </li>
  <li>
    <a href="mappingIssues.html">Known Issues</a>
  </li>
</ul>
